@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans:wght@400;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url(./amy-shamblen-x2lm26Rs2PM-unsplash.jpg);
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.wishlist-container {
  background-color: #0F462F;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  
  border: 10px solid green;
  border-image: repeating-linear-gradient(
      45deg,
      rgb(165, 65, 65),
      rgb(165, 65, 65), 10px,
      white 10px,
      white 20px
    )
    10;
    
}

.wishlist-title {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  color: #f1bc6c;
  align-self: center;
  
}

.wishlist-list {
  display: grid;
  flex-direction: column;
  gap: 10px;
  font-size: large;
  width: 100%;
}

.form {
  position: absolute;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 10px solid green;
  border-image: repeating-linear-gradient(
    45deg,
    rgb(165, 65, 65),
    rgb(165, 65, 65), 10px,
    white 10px,
    white 20px
  )
  10;
  padding: 40px;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 30vw;
  height: fit-content;
  min-width: 400px;
  gap: 10px;
  
}

.form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f1bc6c;
  color: white;
  font-size: large;
  
}

.form-container {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all .5s;
  width: 100vw;
  height: 100vh;

}

.form-button, .button  {
  color: #f1bc6c;
  background-color: #092c1d;
  border: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f1bc6c;
  cursor: pointer;
}

.form-button:hover, .button:hover {
  color: #092c1d;
  background-color: #f1bc6c;
  border: 1px solid #092c1d;
}

.list-item {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: start;
  justify-content: center;
  padding: 5px;
  gap: 5%;
}

.list-button{
  background-color:#0F462F;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  display: grid;
  place-items: center;
  justify-self: end;
}

.list-button:hover {
  color: #A60112;
  border: 1px solid #A60112;
}

.message {
  align-self: center;
}

.form-input-quantity {
  width: 50px;
  display: grid;
  place-items: center;
  padding: 5px;
}

.img-container {
  width: auto;
}

.gift-img {
  color: #A60112;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

label:last-of-type {
  flex-direction: row;
  justify-content: space-between;
}

.form > .list-button {
  background-color: white;
  color:#A60112;
  align-self: flex-end;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button:first-of-type {
  color: #092c1d;
  background-color: #f1bc6c;
  border: 2px solid #092c1d;
  font-weight: bold;
}